.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/673D6A3F/sources/per/t/1EE34CA7
.Rproj.user/673D6A3F/sources/per/t/1EE34CA7-contents
.Rproj.user/673D6A3F/sources/per/t/2105D6A9
.Rproj.user/673D6A3F/sources/per/t/2105D6A9-contents
.Rproj.user/673D6A3F/sources/per/t/47E5059B
.Rproj.user/673D6A3F/sources/per/t/47E5059B-contents
.Rproj.user/673D6A3F/sources/per/t/54CD0DCB
.Rproj.user/673D6A3F/sources/per/t/54CD0DCB-contents
.Rproj.user/673D6A3F/sources/per/t/EA097B99
.Rproj.user/673D6A3F/sources/per/t/EA097B99-contents
.Rproj.user/673D6A3F/sources/prop/11252484
.Rproj.user/673D6A3F/sources/prop/BA746813
